<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/First Selenium Program">
    <classes><class name="org.example.TetsNgDemo"><methods><include name="newTestNG"/></methods>
    </class>
   <class name ="Array"/>
        <class name="org.example.TetsNgDemo"/>
        <class name="org.example.Krupa">
        </class>
    </classes></test></suite>